@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-3">
                    <div class="row align-items-center justify-content-between">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <h3 class="page-header-title">
                                   Proveedores
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="container col-12">
                <div class="card">
                    <div class="card-body">
                   

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Proveedores</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Nombre</th>
                                                <th>Alias</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>00004</td>
                                                <td>Bimbo SA.SV</td>
                                                <td>Bimbo</td>
                                                <td>Activo</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-primary">Editar</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>00024</td>
                                                <td>Summa</td>
                                                <td>Summa</td>
                                                <td>Inactivo</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-primary">Editar</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>00044</td>
                                                <td>DIANA</td>
                                                <td>Diana</td>
                                                <td>Activo</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-primary">Editar</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td>00023</td>
                                                <td>PricesMart</td>
                                                <td>PricesMart</td>
                                                <td>Activo</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-primary">Editar</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>000234</td>
                                                <td>Super Selectos</td>
                                                <td>Selectos</td>
                                                <td>Activo</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-primary">Editar</button>
                                                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

